
h1 {
  font-family: "Abril Fatface", serif;
  font-size: 2.50rem;
  text-align: center;
}

p img,
img.centralized {
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}

.sidebar-social {
  text-align: left;
  display: inline-block;
}

.sidebar-social ul {
  list-style-type: none;
  padding-left: 1rem;  /* same padding as the navigation bar */
}

.sidebar-social ul li a:hover,
.sidebar-social ul li a:focus {
  text-decoration: underline;
  color: rgba(255,255,255,0.8);
}

@media (min-width: 44em) {
  footer {
    text-align: right;
  }
}

footer img {
  display: inline-block;
  margin: 0;
}

div.font-small a {
  color: rgba(255,255,255,0.5);
}

.font-small {
  font-size: 0.7rem;
}

.font-minimum {
  font-size: 0.6rem;
}

.caption {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

hr.excerpt-divider {
  border-top: 2px solid #eee;
}

