<div class="sidebar">
  <!-- Up here things stick to the top of the sidebar -->
  <div class="sidebar-about">
    <h1>
      <a href="{{ site.baseurl }}">
        <img class="img-circle centralized" src="/assets/photo.png"/ alt="Edman's photo" width=150 />
        {{ site.title }}
      </a>
    </h1>
    <p>{{ site.description }}</p>
  </div>
  <div class="sidebar-social">
    <ul>
    <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-fw fa-github"></i> Github </a></li>
    <li><a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-fw fa-facebook-square"></i> Facebook </a></li>
    <li><a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-fw fa-instagram"></i> Instagram </a></li>
    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-fw fa-envelope"></i> Email </a></li>
    </ul>
  </div>

  <!-- Down here things stick to the bottom of the sidebar -->
  <div class="sidebar-sticky">

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <footer>
    <div class="font-small">
      <a class="font-small" href="http://github.com/{{ site.github_username }}/{{ site.github_repo }}">
        Hosted on <img src="/assets/github-logo.png" height=18 width=60 alt="GitHub • Social coding"/>
      </a>
    </div>
    <div class="font-minimum">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</div>
    </footer>
  </div>
</div>
